/* importing font from google font */
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Montserrat:ital,wght@0,100;0,400;0,500;0,700;1,100&display=swap');

*{
    padding: 0;
    margin: 0;
}

/* giving color for whole html */
html{
    background-color: #181818;
    font-family: 'Montserrat', sans-serif;
}

/* nav css starts from here */
.logo{
    display: flex;
    justify-content: space-between;
    height: 15vh;
    width: 100%;
    
}

.logo .img-1{
    display: flex;
    padding: 20px 20px;
}

.img-1 img{
    height: 60px;
    width: auto;
}

.logo .img-2{
    display: flex;
    width: 40vw;
    padding: 0;
    justify-content: flex-start;
    height:10vh;
}

.img-2 img{
    height: 200px;
    width: auto;
}

/* css for main body starts from here */

.main{
    display: flex;
    width: 100vw;
    height:79vh;
    justify-content: space-evenly;
}

.input{

}

.img-3{
    display: flex;
    align-items:center;
    justify-content: center;
}

.img-3 img{
    height:450px;
    width:auto;
}


/* css for footer */
.foot{
    background-color: #343434;
    height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 3px 3px; */
    color: white;
    
}

.email{
    display: flex;
    width: 50vw;
    padding: 4px 50px;
}

.copyright{
    display: flex;
    width: 50vw;
    justify-content:flex-end;
    padding: 4px 40px;
}

.email p, .copyright p{
    font-weight: medium;
}

/* css for form field */

.input{

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.input form {
    display: flex;
    flex-direction: column;

}

.number{
    width: 20vw;
    height: 3vh;
    padding: 10px 20px;
    border-radius: 8px;
    border-style: none;
    border: none;
    resize: none;
    outline: none;
    font-weight:bold;
}


textarea {
    border: none;
    resize: none;
    outline: none;
    width: 20vw;
    height: 30vh;
    padding: 14px 20px;
    border-radius: 8px;
    border-style: none;
    font-weight: bold;
}

.btn{
    justify-content: flex-end;
    width:5vw;
    height: 5vh;
    border-radius:8px;
    cursor: pointer;
    background-color:  #ffd900;
    border-style: none;

}

